.progress-bar-container {
	z-index: 1;
	height: 70vh;
	width: 70vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 0.5rem;
	position: absolute;
	left: 15vw;
	top: 15vh;
}

.badge-container {
	z-index: 2;
	height: 35vh;
	width: 35vw;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 32.5vw;
	top: 32.5vh;
}
